<form method="post" action="{{ path('app_eleves_delete', {'id': elefe.id}) }}" onsubmit="return confirm('Voullez-vous supprimer cette élèves ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ elefe.id) }}">
    <button class="submit">Delete</button>
</form>
