{% extends 'base.html.twig' %}

{% block title %}Nouveau Message{% endblock %}

{% block body %}
    {% include "navbar.html.twig" %}
    <h1>Ajout d'un nouveau message</h1>

    {{ include('message/_form.html.twig') }}

    <a href="{{ path('app_message_index') }}" class="back">Retour à la liste</a>
{% endblock %}
