.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.form .info{
    margin-bottom: 20px;
}



.form .info input[type="radio"]{
    margin-right: 5px;
}

.add{
    margin: 10px;
}


.hide{
    display: none;
}


/* Ajout Musicien */

.add_musicien{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add_musicien form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.error_message{
    color: red;
    font-size: 0.8em;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.bloque{
    background-color: rgb(201, 201, 201);
    color: white !important;
    text-align: center;
}

.bloque:hover{
    background-color: rgb(201, 201, 201);
    color: white !important;
    text-align: center;
}

.bloque:focus{
    outline: none;
    border-color: #900;
    box-shadow: none !important;
}