/*style pour une table sur la page membre */

table{
    margin: auto;
    border-collapse: collapse;
    border: 1px solid black;
    width: 50%;
    text-align: center;
    
}

table th{
    border: 1px solid black;
    background-color: rgb(208, 201, 201);
    padding: 5px;
}

table td{
    border: 1px solid black;
    padding: 5px;
}