{% extends 'base.html.twig' %}

{% block title %}Ajout{% endblock %}

{% block body %}
    {% include "navbar.html.twig" %}

    <h1>Ajout</h1>

    <a href="{{ path('app_inscription') }}">Ajout de musicien</a>

{% endblock %}
