{% extends 'base.html.twig' %}

{% block title %}Direction{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/direction.css') }}">
{% endblock %}

{% block body %}

{% include "navbar.html.twig" %}

<h1>La Direction Musicale</h1>
    <div class="directeur">
        <h3>Directeur : Micheal Denez</h3>
        <div class="presentation">
            <img src="{{ asset('img/mdenez.png') }}" alt="mdenez">
            <p>Débutant sa formation musicale à l'âge de 6 ans en 1975 à Calais, Michael s'initie tout d'abord au cornet à pistons en 1979. Il valide des hauts niveaux d'études musicales au Conservatoire de musique du Calaisis (1985, prix de cornet et accessit de lecture à vue) puis au Conservatoire de Lille (1991, Médaille d'or de Cornet et de Trompette)
            <br><br>
            La musique est son fil conducteur, aussi bien dans sa vie professionnelle (professeur certifié d'éducation musicale et de chant choral au collège Immaculée Conception à Bailleul depuis 1994) que dans sa vie associative et ses loisirs, comme en témoignent ses différentes expériences passées :
            </p>
        </div>
        <div class="histo">
            <ul>
                <li>1990 - 2000 : Hallennes-Lez-Huabourdin - professeur de formation musicale</li>
                <li>1992-2012 : Hallennes-Lez-Haubourdin - directeur d'école de musique municipale </li>
                <li>1999-2008 : La Gorgue - directeur adjoint de l'harmonie</li>
                <li>1999-2013 : La Gorgue - professeur de trompette</li>
                <li>2008-2015 : Brass Band Nord Pas de Calais - cornet à pistons</li>
                <li>2015-2020 : Lille Métropole Brass Band - cornet à pistons</li>
                <li>2016-ajdh : Caestre - professeur de trompette & formation musicale</li>
            </ul>
            <p>En 2020, il est retenu parmi les candidatures pour succéder à Patrick Vanexem, et reprend la direction de l'harmonie et de l'école de musique Les Amis Réunis Le Doulieu.</p>
        </div>
        
    </div>

    <div class="directeur">
        <h3>Directeur adjoint : Guy Deleplace</h3>
        <div class="presentation">
            <img classe="guy" src="{{ asset('/img/gdeleplace.png') }}" alt="gdeleplace">
            <p>Après avoir appris la clarinette et le saxophone c'est au pupitre des saxos barytons qu'il intègre l'harmonie de Bailleul de 1968 à 1982.
            <br><br>
            Il entre à l'harmonie de Le Doulieu en mai 1983 pour y jouer du saxo ténor. Il donne des cours à l'école de musique et est nommé sous directeur en 1989.
            <br><br>
            Résidant depuis 2004 à Robecq, il participe également à l'harmonie de Mont Bernenchon - Robecq. Il est sollicité pour prendre la direction de cette société en septembre 2008.</p>
        </div>       
    </div>
{% endblock %}
