<form method="post" action="{{ path('app_sorties_delete', {'id': sorty.id}) }}" onsubmit="return confirm('Voullez-vous supprimer la sortie?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sorty.id) }}">
    <button class="submit">Delete</button>
</form>
